################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ZAP.Commons/obj
/.vs
/test/ZAP.Commons.Tests/bin/Debug/net5.0
/test/ZAP.Commons.Tests/obj
/src/ZAP.Commons/bin/Debug/net5.0
